html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Skil Up
    link(rel="stylesheet" href="/css/style.css")
    link(rel="manifest" href="/manifest.json")
    link(rel="icon", href="/assets/icons/favicon.ico", type="image/x-icon")
    style.

      .salaire {
        background-color: black;
        border-radius:20px;
        border : 1px solid var(--accent); 
        box-shadow: var(--ombre);
        padding: 10px;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        color:gold;
        font-weight: bold;
        font-size:1rem;
      }

      .button-historique {
        background-color: var(--accent2);
        color:black;
        box-shadow: var(--ombre);
      }

      .button-historique:hover {
        background-color: var(--accent2);
        color: black;
      }

      //- .button-delete {
      //-   background-color: var(--danger);
      //-   color: white;
      //-   box-shadow: var(--ombre);
      //- }

      //- .button-delete:hover {
      //-   background-color: #c0392b;
      //- }

      .task, .purchase-item {
        background-color: #1f1f2f;
        border-left: 10px solid var(--accent);
        border-top: 10px solid var(--accent);
        border-right: 1px solid var(--accent);
        border-bottom: 1px solid var(--accent);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: var(--ombre);
      }

      .task h3, .purchase-item h3 {
        margin: 0 0 10px 0;
        color: var(--accent2);
      }

      .date {
        font-weight: bold;
        color: gold;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
      }

      .nomTacheHeure {
        text-align: left;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--accent);
      }

      .nomQui, .nomTache {
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--accent);
      }
      .nomTache {
        border : 2px solid var(--accent);
        background-color: #444;
        padding: 10px;
        border-radius: 10px;
        margin-right:2rem;
        margin-left:2rem;
      }
      .nomQui {
        margin-top: 20px;
        color: var(--text);
      }

      .priority-qui-container {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        color: var(--texte);
        margin-bottom: 10px;
      }
       .dateInput {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
         font-size: 0.9rem;
      }

      .dateInput input[type="date"],
      .dateInput select {
        background-color: #444;
        color: #f0f0f0;
        border: 2px solid var(--accent);
        border-radius: 6px;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Press Start 2P', monospace;
      }

      br.small-br {
        line-height: 0.7;  /* réduit l'espace vertical */
        content: "";       /* pas obligatoire mais parfois utile */
        margin: 2px 0;     /* tu peux ajuster la marge aussi */
        display: block;    /* forcer le saut en bloc */
        height: 6px;       /* hauteur personnalisée */
      }

      .heureTravail {
        background-color: var(--accent2);
        font-weight: bold;
        color: black;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
      }
      .historique {
        display: none
      }
      .input-task {
        width: 70%; /* ou 300px, ou 20rem selon ce que tu préfères */
         font-size: 0.9rem;
      }

      select.input-task {
        background-color: #444;
        color: var(--texte);
        border: 2px solid var(--accent);
        border-radius: 8px;
        padding: 10px;
        font-size: 1rem;
        transition: border 0.3s ease;
        appearance: none; /* enlève le style natif pour plus de cohérence */
      }

      select.input-task:focus {
        outline: none;
        border-color: var(--accent2);
      }

      /* Priorités */
      .faible {
        border-left-color: green;
      }

      .moyenne {
        border-left-color: orange;
      }

      .haute {
        border-left-color: red;
      }

      /* Responsive */
      @media (max-width: 1600px) {
        .container {
          flex-direction: column;
        }
      }

  body
  .container
    .form-container 
      .head
        .formDate
          .date-time
            #dateJour 
            br
            #heure    

      include includes/title.pug 
      p.sousTitre Mot de passe oublié :

      // Affichage du message d'erreur
      if errorMessage
        p.error-message(style="color: red; font-weight: bold;") #{errorMessage}

      
      form(action="/mdpOublie" method="post")
        label(for="username") Login :
        input(type="text" id="username" name="username" class="input-task" required)

        label(for="secretQuestion") Question secrète :
        select(name="secretQuestion" id="secretQuestion" class="input-task" required)
          option(value="" disabled selected) Choisissez une question
          option(value="Quel est le nom de votre premier animal ?") Quel est le nom de votre premier animal ?
          option(value="Quel est le nom de votre meilleur ami ?") Quel est le nom de votre meilleur ami ?
          option(value="Quel est le nom de votre ville natale ?") Quel est le nom de votre ville natale ?

        label(for="reponse-secret-question" class="qui") Reponse à la question secrète :
        input(type="text" id="reponse-secret-question" name="reponse-secret-question" class="input-task" required)   
          
        label(for="password") Nouveau mot de passe :
        input(type="text" id="password" name="password" class="input-task" required)
        label(for="passwordConfirmed") Confirmation mot de passe :
        input(type="text" id="passwordConfirmed" name="passwordConfirmed" class="input-task" required)
        if message
          p.message #{message} 
        button(type="submit" class="button-historique") Valider 
      form(action="/login" method="get")  
        button(type="submit" class="button-historique") Connexion 
      //- footer
      //-     .footer-content
      //-       p Skil up © — Tous droits réservés
      include includes/footer.pug  
          
    script(src="/js/script.js")
    script.
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }

